@model HeaderViewModel
@{
    var categories = Model.Categories.ToList();
}

<div class="header-top">
    <div class="container">
        <div class="row pt-20 pb-20">
            <div class="col-6 col-md-3">
                <a href="/">
                    <img class="logo" src="~/imgs/theme/logo.svg" alt="">
                </a>
            </div>
            <div class="col-6 col-md-9 text-end d-flex align-items-center justify-content-end">
                <button class="search-icon d-none d-md-inline">
                    <span class="mr-15 text-muted font-small"><i class="elegant-icon icon_search mr-5"></i>Search</span>
                </button>
                <div class="dark-light-mode-cover">
                    <a class="dark-light-mode" href="#"></a>
                </div>
                <span class="vertical-divider mr-10 ml-10"></span>
                @if (User.Identity is { IsAuthenticated: true })
                {
                    <ul class="list-inline nav-topbar">
                        <li class="list-inline-item menu-item-has-children">
                            <a href="#">
                                <i class="elegant-icon icon_profile"></i> <!-- Sử dụng icon từ elegant-icon -->
                                <span class="user-name">@User.GetFullName()</span>
                            </a>
                            <ul class="sub-menu font-small">
                                <li>
                                    <a asp-controller="Accounts" asp-action="Profile">Profile</a>
                                    <a asp-controller="Accounts" asp-action="ManagePosts">Manage Posts</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" onclick="confirmLogout('@Url.Action("Logout", "Accounts")')">Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                }
                else
                {
                    <span class="ml-2 text-muted font-small" onclick="location.href='@Url.Action("Login", "Accounts")'">
                        <i class="elegant-icon icon_profile mr-5"></i>Login
                    </span>
                }
            </div>
        </div>
    </div>
</div>
<div class="header-sticky">
    <div class="container align-self-center position-relative">
        <div class="mobile_menu d-lg-none d-block"></div>
        <div class="main-nav d-none d-lg-block float-start">
            <nav>
                <!--Desktop menu-->
                <ul class="main-menu d-none d-lg-inline font-small">
                    @if (categories.Count != 0)
                    {
                        foreach (var item in categories)
                        {
                            var url = item.IsStaticPage ? "/" + item.Slug : "/category/" + item.Slug;
                            <li>
                                <a href="@url">
                                    @if (!string.IsNullOrEmpty(item.Icon))
                                    {
                                        <i class="elegant-icon @item.Icon mr-5"></i>
                                    }
                                    @item.Name
                                </a>
                            </li>
                        }
                    }
                </ul>
                <!--Mobile menu-->
                <ul id="mobile-menu" class="d-block d-lg-none text-muted">
                    @if (categories.Count != 0)
                    {
                        foreach (var item in categories)
                        {
                            var url = item.IsStaticPage ? "/" + item.Slug : "/category/" + item.Slug;
                            <li>
                                <a href="@url">@item.Name</a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
        <div class="float-end header-tools text-muted font-small">
            <div class="off-canvas-toggle-cover d-inline-block">
                <div class="off-canvas-toggle hidden d-inline-block" id="off-canvas-toggle">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>