@model PostSearchViewModel
@{
    var posts = Model.Posts;
}

<!--archive header-->
<div class="archive-header pt-50">
    <div class="container">
        <h2 class="font-weight-900">Search results</h2>
        <div class="breadcrumb">
            We found @posts.MetaData.TotalItems articles for <strong>"@Model.Keyword" </strong> key word
        </div>
        <div class="bt-1 border-color-1 mt-30 mb-50"></div>
    </div>
</div>
<div class="pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="post-module-3">
                    <div class="loop-list loop-list-style-1">
                        @if (posts.Items != null && posts.Items.Any())
                        {
                            foreach (var item in posts.Items)
                            {
                                var categoryUrl = "/category/" + item.CategorySlug;
                                var postUrl = "/post/" + item.Slug;

                                <article class="hover-up-2 transition-normal">
                                    <div class="row mb-40 list-style-2">
                                        <div class="col-md-4">
                                            <div class="post-thumb position-relative border-radius-5">
                                                <div class="img-hover-slide border-radius-5 position-relative" style="background-image: url(./imgs/news/news-13.jpg)">
                                                    <a class="img-link" href="@postUrl"></a>
                                                </div>
                                                <ul class="social-share">
                                                    <li>
                                                        <a href="#">
                                                            <i class="elegant-icon social_share"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="fb" href="#" title="Share on Facebook" target="_blank">
                                                            <i class="elegant-icon social_facebook"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-8 align-self-center">
                                            <div class="post-content">
                                                <div class="entry-meta meta-0 font-small mb-10">
                                                    <a href="@categoryUrl">
                                                        <span class="post-cat @item.CategoryColor">@item.CategoryName</span>
                                                    </a>
                                                </div>
                                                <h5 class="post-title font-weight-900 mb-20">
                                                    <a href="@postUrl">@item.Title</a>
                                                    <span class="post-format-icon">
                                                        <i class="elegant-icon icon_star_alt"></i>
                                                    </span>
                                                </h5>
                                                <div class="entry-meta meta-1 float-start font-x-small text-uppercase">
                                                    <span class="post-on">@item.PublishedDate.ToString("dd MMMM", CultureInfo.InvariantCulture)</span>
                                                    <span class="time-reading has-dot">11 mins read</span>
                                                    <span class="post-by has-dot">@item.ViewCount views</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            }
                        }
                    </div>
                </div>
                <div class="pagination-area mb-30">
                    @await Component.InvokeAsync("Pager", posts.MetaData)
                </div>
            </div>
            <div class="col-lg-4">
                <div class="widget-area">
                    @await Component.InvokeAsync("Sidebar", "Default")
                </div>
            </div>
        </div>
    </div>
</div>