@using Shared.Enums
@model ManagePostsViewModel
@{
    var posts = Model.Posts;
    var user = User;
    var isAdmin = ClaimsPrincipalExtensions.IsInRole(user, UserRolesConsts.Administrator);
}

@if (posts.Items != null && posts.Items.Count != 0)
{
    foreach (var item in posts.Items)
    {
        var postStatus = item.Status;
        var updatePostUrl = Url.RouteUrl("update_post_view") + "?slug=__slug__";

        <tr class="alert" role="alert">
            <td>
                <label class="checkbox-wrap checkbox-primary">
                    <input type="checkbox" class="post-checkbox">
                    <span class="checkmark"></span>
                </label>
            </td>
            @if (isAdmin)
            {
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @(postStatus == PostStatusEnum.Published || postStatus == PostStatusEnum.Rejected ? "disabled" : "")>
                            <i class="fas fa-cog"></i> Action
                        </button>
                        <div class="dropdown-menu">
                            @if (postStatus != PostStatusEnum.Draft)
                            {
                                if (postStatus == PostStatusEnum.WaitingForApproval)
                                {
                                    <a class="dropdown-item" href="#" data-id="@item.Id" onclick="confirmAction(this, 'approve')">
                                        <i class="fas fa-check"></i> Approve
                                    </a>
                                    <a class="dropdown-item" href="#" data-id="@item.Id" onclick="confirmAction(this, 'reject')">
                                        <i class="fas fa-times"></i> Reject
                                    </a>
                                }
                            }
                            else
                            {
                                <a class="dropdown-item" href="#" data-id="@item.Id" onclick="confirmAction(this, 'approve')">
                                    <i class="fas fa-check"></i> Approve
                                </a>
                                <a class="dropdown-item" href="#" data-id="@item.Id" onclick="confirmAction(this, 'reject')">
                                    <i class="fas fa-times"></i> Reject
                                </a>
                                <a class="dropdown-item" href="#" data-id="@item.Id" onclick="confirmAction(this, 'waiting')">
                                    <i class="fas fa-clock"></i> Waiting
                                </a>
                            }
                        </div>
                    </div>
                </td>

                <td class="pin-column">
                    <div class="icon-container">
                        @if (item.IsPinned)
                        {
                            <button type="button" class="btn btn-pin" aria-label="Unpin" data-id="@item.Id" title="Unpin this post" onclick="confirmPin(this, false)">
                                <span aria-hidden="true">
                                    <i class="fa fa-thumbtack" style="color: darkgreen;"></i> <!-- Sử dụng màu xanh lá cây đậm -->
                                </span>
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-pin" aria-label="Pin" data-id="@item.Id" title="Pin this post" onclick="confirmPin(this, true)" @(item.IsFeatured ? "disabled" : "")>
                                <span aria-hidden="true">
                                    <i class="fa fa-thumbtack" style="color: deepskyblue;"></i> <!-- Sử dụng màu xanh lam nhạt -->
                                </span>
                            </button>
                        }
                    </div>
                </td>
                <td class="feature-column">
                    <div class="icon-container">
                        @if (item.IsFeatured)
                        {
                            <button type="button" class="btn btn-feature" aria-label="Unfeature" data-id="@item.Id" title="Unfeature this post" onclick="confirmFeature(this, false)">
                                <span aria-hidden="true">
                                    <i class="fa fa-star" style="color: gold;"></i>
                                </span>
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-feature" aria-label="Feature" data-id="@item.Id" title="Feature this post" onclick="confirmFeature(this, true)" @(item.IsPinned ? "disabled" : "")>
                                <span aria-hidden="true">
                                    <i class="fa fa-star" style="color: gray;"></i>
                                </span>
                            </button>
                        }
                    </div>
                </td>
            }
            <td class="status">
                <span class="@(item.Status.ToString())">@item.Status.ToString()</span>
            </td>
            <td>@item.Category.Name</td>
            <td>@item.Title</td>
            <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
            <td>@item.ViewCount.ToString("N0")</td>
            <td>@item.CommentCount.ToString("N0")</td>
            <td>@item.LikeCount.ToString("N0")</td>
            <td>@item.PublishedDate?.ToString("dd/MM/yyyy")</td>
            <td>
                <div class="button-container">
                    <button type="button" class="btn btn-history" aria-label="View History" data-id="@item.Id">
                        <span aria-hidden="true">
                            <i class="fa fa-history"></i>
                        </span>
                    </button>
                    <button type="button" class="btn btn-update" aria-label="Update" data-slug="@item.Slug" data-url="@updatePostUrl" onclick="updatePost(this)">
                        <span aria-hidden="true">
                            <i class="fa fa-edit"></i>
                        </span>
                    </button>
                    <button type="button" class="close" data-id="@item.Id" aria-label="Close" onclick="deletePost(this)">
                        <span aria-hidden="true">
                            <i class="fa fa-close"></i>
                        </span>
                    </button>
                </div>
            </td>
        </tr>
    }
}