@using Shared.Utilities
@model HomeViewModel

@{
    var featuredPosts = Model.FeaturedPosts;
    var pinnedPosts = Model.PinnedPosts;
    var tags = Model.SuggestTags;
}

<div class="hot-tags pt-30 pb-30 font-small align-self-center">
    <div class="widget-header-3">
        <div class="row align-self-center">
            <div class="col-md-4 align-self-center">
                <h5 class="widget-title">Featured posts</h5>
            </div>
            <div class="col-md-8 text-md-end font-small align-self-center">
                <p class="d-inline-block mr-5 mb-0">
                    <i class="elegant-icon icon_tag_alt mr-5 text-muted"></i>
                </p>
                <ul class="list-inline d-inline-block tags">
                    @if (tags.Count != 0)
                    {
                        @foreach (var item in tags)
                        {
                            var tagUrl = "/tag/" + item.Slug;
                            
                            <li class="list-inline-item">
                                <a href="@tagUrl"># @item.Name</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="loop-grid mb-30">
    <div class="row">
        <div class="col-lg-8 mb-30">
            <div class="carausel-post-1 hover-up border-radius-10 overflow-hidden transition-normal position-relative">
                <div class="arrow-cover"></div>
                <div class="slide-fade">
                    @if (pinnedPosts.Count != 0)
                    {
                        foreach (var item in pinnedPosts)
                        {
                            var categoryUrl = "/category/" + item.Category.Slug;
                            var postUrl = "/post/" + item.Slug;

                            <div class="position-relative post-thumb">
                                <div class="thumb-overlay img-hover-slide position-relative" thumbnail="@item.Thumbnail">
                                    <a class="img-link" href="@postUrl"></a>
                                    <span class="top-left-icon bg-warning">
                                        <i class="elegant-icon icon_star_alt"></i>
                                    </span>
                                    <div class="post-content-overlay text-white ml-30 mr-30 pb-30">
                                        <div class="entry-meta meta-0 font-small mb-20">
                                            <a href="@categoryUrl">
                                                <span class="post-cat @item.Category.Color text-uppercase">@item.Category.Name</span>
                                            </a>
                                        </div>
                                        <h3 class="post-title font-weight-900 mb-20">
                                            <a class="text-white" href="@postUrl">@item.Title</a>
                                        </h3>
                                        <div class="entry-meta meta-1 font-small text-white mt-10 pr-5 pl-5">
                                            <span class="post-on">20 minutes ago</span>
                                            <span class="hit-count has-dot">@item.ViewCount Views</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        @if (featuredPosts.IsNotNullOrEmpty() && featuredPosts.Count != 0)
        {
            foreach (var item in featuredPosts)
            {
                var categoryUrl = "/category/" + item.Category.Slug;
                var postUrl = "/post/" + item.Slug;

                <article class="col-lg-4 col-md-6 mb-30">
                    <div class="post-card-1 border-radius-10 hover-up">
                        <div class="post-thumb thumb-overlay img-hover-slide position-relative" style="background-image: url(@item.Thumbnail)">
                            <a class="img-link" href="@postUrl"></a>
                            <span class="top-right-icon bg-success">
                                <i class="elegant-icon icon_camera_alt"></i>
                            </span>
                            <ul class="social-share">
                                <li>
                                    <a href="#">
                                        <i class="elegant-icon social_share"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="fb" href="#" title="Share on Facebook" target="_blank">
                                        <i class="elegant-icon social_facebook"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="post-content p-30">
                            <div class="entry-meta meta-0 font-small mb-10">
                                <a href="@categoryUrl">
                                    <span class="post-cat @item.Category.Color">@item.Category.Name</span>
                                </a>
                            </div>
                            <div class="d-flex post-card-content">
                                <h5 class="post-title mb-20 font-weight-900">
                                    <a href="@postUrl">@item.Title</a>
                                </h5>
                                <div class="entry-meta meta-1 float-start font-x-small text-uppercase">
                                    <span class="post-on">@(item.PublishedDate.HasValue ? item.PublishedDate.Value.ToString("dd MMMM", CultureInfo.InvariantCulture) : "--")</span>
                                    <span class="time-reading has-dot">12 mins read</span>
                                    <span class="post-by has-dot">@item.ViewCount views</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            }
        }
    </div>
</div>