@model Shared.SeedWorks.MetaData

@{
    var urlTemplate = ViewBag.UrlTemplate;
}

<div class="pagination-area mb-30 wow fadeInUp animated">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
            @if (Model.HasPrevious)
            {
                <li class="page-item">
                    <a class="page-link" href="@urlTemplate.Replace("{0}", (Model.CurrentPage - 1).ToString())">
                        <i class="elegant-icon arrow_left"></i>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <i class="elegant-icon arrow_left"></i>
                    </a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="page-item active">
                        <a class="page-link" href="@urlTemplate.Replace("{0}", i.ToString())">@i.ToString("D2")</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@urlTemplate.Replace("{0}", i.ToString())">@i.ToString("D2")</a>
                    </li>
                }
            }

            @if (Model.HasNext)
            {
                <li class="page-item">
                    <a class="page-link" href="@urlTemplate.Replace("{0}", (Model.CurrentPage + 1).ToString())">
                        <i class="elegant-icon arrow_right"></i>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">
                        <i class="elegant-icon arrow_right"></i>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>